.poster {
  background: white;
  border-radius: 8px;
  padding: 10px;
}

.home {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid img {
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}