/* src/components/input/input.module.scss */
.inputStyle {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-color);

  input {
    width: 100%;
    height: 42px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    font-size: 1rem;
    padding-left: 4px;
    color: var(--text-color);
  }

  input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }
}