@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap'); $color-bcc_brown: #5C1F06; 
$color-bcc_white: #f9f9f9; 
$color-light_brown: #d97852; 
$color-beige: #d1b3a7; 
$color-gray: #cccccc; 
$color-black: #000000;