.contactPage {
  padding: 2rem 0;
  max-width: 600px;
  margin: 0; /* Venstrejusteret */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start; /* Venstrejusteret */
  margin-top: 1rem;
}

/* textarea styling */
.textAreaLabel {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1rem;
    resize: vertical;
    margin-top: 4px;
    background-color: rgb(240, 240, 240);
  }
}

.buttonWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start; /* venstre */
}