@use '../../styles/globals' as globals;

.footerStyle {
  border-top: solid 2px globals.$color_beige;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;

  section {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  section:nth-child(2) {
    justify-content: end;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  p {
    font-weight: 200;
    font-size: 1rem;
  }
}